.default-color0.chart-bar {
    -fx-bar-fill: #8BAC7D;
}

.columnTitle {
    -fx-background-radius: 20 3 3 3;
}
.columnTitleMiddle {
    -fx-background-radius: 3;
}
.columnTitleEnd {
    -fx-background-radius: 3 20 3 3;
}

.table-view .column-header-background {
    -fx-max-height: 0;
    -fx-pref-height: 0;
    -fx-min-height: 0;
    -fx-background-color: transparent;
}

.table-view {
    -fx-background-color: white;          
    -fx-padding: 10;
    -fx-background-radius: 15;
    -fx-border-width: 1;
}

.table-row-cell {
    -fx-background-color: #EAF3F0;       
    -fx-border-width: 1;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-padding: 6 12 6 12;
}

.table-row-cell:filled {
    -fx-background-insets: 2;
}


.table-row-cell:hover {
    -fx-background-color: #D8EDE5;
    -fx-cursor: hand;
}

.table-row-cell:selected {
    -fx-background-color: #BFD8C4;
    -fx-border-color: #8BAC7D;
}

.table-cell {
    -fx-border-color: transparent;
    -fx-padding: 8 12 8 12;
    -fx-font-size: 14px;
}

.scroll-bar:horizontal, .scroll-bar:vertical {
    -fx-background-color: transparent;
}

